<% @gigs.each do |gig| %>

    <div class="column is-one-third">
        <div class="card">

            <div class="card-image">
                <%= link_to gig_path(gig) do %>
                    <figure class="image is-4by3">
                        <%= image_tag gig_cover(gig) %>
                    </figure>
                <% end %>
            </div>

            <div class="card-content p-t-5 p-b-5">
                <p class="subtitle is-6 m-b-5"><%= link_to gig.title.truncate(20), gig_path(gig) %></p>
                <span class="star-review"><i class="fa fa-star"></i>
                    <%= gig.average_rating %>
                    <span class="has-text-primary">(<%= gig.reviews.count %>)</span>
                </span>                                        
            </div>

            <footer class="card-footer">
                <span class="card-footer-item">
                    <%= link_to users_path(gig.user) do %>
                        <figure class="image is-32x32 avatar <%= gig.user.status ? "online" : "offline" %>">
                            <%= image_tag avatar_url(gig.user), class: "is-rounded" %>
                        </figure>
                        <span class="is-size-7 has-text-grey"><%= gig.user.full_name %></span>
                        <!--span class="is-size-7 has-text-grey"><%= gig.user.about %></span-->
                        
                    <% end %>
                </span>
                <a class="has-text-grey-light is-size-6 is-block card-footer-item has-text-left">
                    <span class="small-title is-size-7">STARTING AT</span> 
                    <strong class="has-text-dark">€<%= gig.price %></strong>
                </a>
            </footer>  
            
        </div>
    </div>

<% end %>