<!DOCTYPE html>
<html>
  <head>
    <title>Sgub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    
    
	<%= render 'shared/drift' %>
  </head>

  <body>
	<!-- Facebook developer login -->
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '{275790067113953}',
	      cookie     : true,
	      xfbml      : true,
	      version    : '{7.0}'
	    });
	      
	    FB.AppEvents.logPageView();   
	      
	  };
	
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	
    <%= render  "shared/navbar" %>
    <%= render 'shared/notification' %>
    
    <%= yield %>
  </body>
  	 <%= render "shared/footer" %>
</html>
