<!DOCTYPE html>
<html>
  <head>
    <title>Sgub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-badge@1.0.1/dist/bulma-badge.min.css" type="text/css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/" async ></script>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    
    
	<%= render 'shared/drift' %>
  </head>

  <body>
	
    <%= render  "shared/navbar" %>
    <%= render 'shared/notification' %>
    
    <%= yield %>
  </body>
  	 <%= render "shared/footer" %>
</html>
